<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only Show Odd number</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li [ngClass]="{odd: odd%2 !== 0}" 
                class="list-group-item" *ngFor="let odd of oddNumbers ; let i = index">
            {{odd}}
          </li>
        </div> 
        <div *ngIf="!onlyOdd">
          <li   [ngStyle]="{color : even%2 === 0 ? 'blue' : 'transparent'}" 
           class="list-group-item" *ngFor="let even of evenNumbers ; let i = index">
            {{even}}
          </li>
        </div>
        <p class="mt-2" BasicDirective1>1 . Style me with basic HighLighter</p>

        <p class="mt-2" appRendererDirective2 >2 . Style me with Renderer HighLighter</p>

        <p class="mt-2" HostListener3 >3 . Style me with HostListener3 HighLighter</p>
      </ul>
    </div>
  </div>
</div>